html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css") 
        link(rel='shortcut icon', type='image/png', href='https://cdn.glitch.com/795db0a5-f1ff-47a8-802c-8e9bc02979b2%2Ffavicon.png?v=1588154686501/favicon.png')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/style/style.css")
        style
          include ../../style/home.css
    body
        div.wrap-label.pt-4
            h3.text-info(class="text-center") #{titleHeader}
            ul(class="nav justify-content-center pb-5")
                li(class="nav-item")
                    a(class="nav-link " + activeBook, href="/book" ) Kho sách
                li(class="nav-item")
                    a(class="nav-link " + activeUsers, href="/users" ) Khách hàng 
                li(class="nav-item")
                    a(class="nav-link " + activeTransection, href="/transection" ) Giao dịch
                li(class="nav-item")
                    a(class="nav-link disabled", href="" tabindex="-1" aria-disabled="true") Disabled
            block header
            block content