extends ../layouts/common.pug
block content
  ul.list-users
    each user in users
      li.pb-2(style="margin:0 0 10px") 
        div
          h6.text-info= user.stt + ': ' + user.name
        div
          a(href="users/delete/" + user.id) &#x2718; xóa
          a(href="users/update/" + user.id) &#8634; sửa
  div
    a.btn.btn-info(href="/users/post") 
      i.fa.fa-plus.pr-1(aria-hidden='true') 
      span Thêm khách hàng
