extends ../layouts/common.pug
block content

  if error
    div.alert.alert-warning= error[0]
  if tooLength
    div.alert.alert-warning= tooLength
  div
    form(action="/users/post" method="POST")
      div
        p(style="margin-bottom: 5px") Name:
        input.form-control(type="text" name="name" value = value ? value.name : "")
      div(style="margin-top: 16px")
        button.btn.btn-info Thêm